@import url(//db.onlinewebfonts.com/c/69bf1da44c2af3ed36fa50016318d1f8?family=Porsche);
@font-face {font-family: "Porsche"; src: url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.eot"); src: url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.woff") format("woff"), url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69bf1da44c2af3ed36fa50016318d1f8.svg#Porsche") format("svg"); }


*{
    box-sizing: content-box;
    font-family: Porsche;
}

body {
    height: 100%;
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 100%;
}

.headerWrapper {
    width: 100%;
    height: 80px;
    line-height: 50px;
}

.logo {
    padding-left: 5%;
}

.menuWrapper {
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    padding-right: 20%;
    gap: 5%;
    height: 100%;
    text-align: center;
    height: 10vh;
    font-size: 10vh;
    line-height: 10vh;
}



.navbarNav {
    width: 100%;
    display: flex;
}

.navbar ul li:hover {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul:after { 
    content: "";
    clear: both;
    display: block;
}

.dropdownMenu {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
}

.dropdownMenu:before {
    content: "";
    display: inline-block;
}

.subMenu {
    position: absolute;
    z-index: 1;
    background-color: rgba(13, 21, 27, 0.63);
    display: none;
    width: 100%;
    left: 0;
    top: 80px;
    padding-bottom: 50px;
    padding-top: 10px;
    line-height: 30px;
}

h5 {
    text-align: center;
    border-bottom: 1px solid white;
}

.navbar > ul > div > li:hover > .subMenu ,.subMenu:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.subMenuItem {
    font-size: small;
}

.navbar > ul > div > li:hover > .subMenu > .subMenuItem > ul > li > a:hover {
    color: red;
}

.navbar > ul > div > li:hover > .subMenu > .subMenuItem > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

/*header*/
.homePic {
    background-image: linear-gradient(-180deg,rgba(0, 0, 0, 0) 0%,#000000 100%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    
}

.textWrapper {
    z-index: 1;
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.943);
}

.indexImg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}
.homePic .picCaption{
    position: absolute; 
    top: 70%;
    z-index: 1;
}

.homePic img{
    display:block;
    max-width: 100%; 
}

.picCaption {
    margin-left: 7%; 
}

.picCaption > h2 {
    font-weight: bolder;
}

.quote {
    width: 50%;
    font-size: xx-large;
    margin-left: 7%;
    margin-bottom: 3%;
    font-weight: bold;
}

section {
    box-sizing: border-box;
    margin-left: 7%;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstPic{
    width: 100%;
    height: auto;
}

.secondPic {
    width: 100%;
    height: auto;
}

.thirdPic {
    width: 100%;
    height: auto;
}

.ml-1 {
    margin-left: 7%;
    margin-right: 7%;
}

.ml-1 > h2 {
    font-weight: bolder;
    margin-bottom: 4%;
}

.col-md-4 {
    text-align: justify;
}

.colHeader {
    text-align: center;
    font-weight: bold;
}

.colContent {
    padding-top: 0.1%;
    padding-bottom: 2%;
    color: rgb(151, 154, 151);
}

.colLink {
    text-decoration: none;
    width: 100%;
    font-size: large;

}

.colLink > a:hover {
    color: red;
}

.colLink > a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin-left: 1%;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-45deg);
}

.col-md-4:hover{
    cursor: pointer;
}

.col-md-4:hover .colLink > a {
    color: red;
}

.col-md-4:hover .colLink > i {
    border: solid red;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-45deg);
} 