*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    font-family: Porsche;
}

body {
    height: 100%;
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 100%;
}

.headerWrapper {
    width: 100%;
    height: 80px;
    line-height: 50px;
}

.logo {
    padding-left: 5%;
    padding-top: .5%;
}

.menuWrapper {
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    height: 100%;
}

.dropdownWrapper {
    padding-right: 20%;
    text-align: center;
    height: 100%;
    display: flex;
    gap: 5%;
    height: 10vh;
    font-size: 10vh;
    line-height: 8vh;
}

.navbarNav {
    width: 100%;
    display: flex;
}

.navbar ul li:hover {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

.dropdownMenu {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;
    
}


.subMenu {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.63);
    display: none;
    width: 100%;
    left: 0;
    top: 80px;
    padding-bottom: 50px;
    padding-top: 10px;
    line-height: 30px;
    text-align: center;
}

h5 {
    text-align: center;
    border-bottom: 1px solid white;
}

.links {
    padding-left: 0px;
}

.navbar > ul > div > div > li:hover > .subMenu ,.subMenu:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.subMenuItem {
    font-size: small;
}

.navbar > ul > div > div > li:hover > .subMenu > .subMenuItem > ul > li > a:hover {
    color: red;
}

.navbar > ul > div > div > li:hover > .subMenu > .subMenuItem > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    
}

/*header*/



/*main*/

.homePic {
    background-image: linear-gradient(-180deg,rgba(0, 0, 0, 0) 0%,#000000 100%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    
}

.textWrapper {
    z-index: 1;
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.943);
}

.indexImg {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}
.homePic .picCaption{
    position: absolute; 
    top: 70%;
    z-index: 1;
}

.homePic img{
    display:block;
    max-width: 100%; 
}

.picCaption {
    margin-left: 7%; 
}

.picCaption > h2 {
    font-weight: bolder;
}

.quote {
    width: 50%;
    font-size: xx-large;
    margin-left: 7%;
    margin-bottom: 3%;
    font-weight: bold;
}

section {
    box-sizing: border-box;
    margin-left: 7%;
}

.rowContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstPic{
    width: 100%;
    height: auto;
}

.secondPic {
    width: 100%;
    height: auto;
}

.thirdPic {
    width: 100%;
    height: auto;
}

.ml-1 {
    padding-bottom: 6%;
    margin-left: 7%;
    margin-right: 7%;
}

.ml-1 > h2 {
    font-weight: bolder;
    margin-bottom: 4%;
}

.col-md-4 {
    text-align: justify;
}

.colHeader {
    text-align: center;
    font-weight: bold;
}

.colContent {
    padding-top: 0.1%;
    padding-bottom: 2%;
    color: rgb(151, 154, 151);
}

.colLink {
    text-decoration: none;
    width: 100%;
    font-size: large;

}

.colLink > a:hover {
    color: red;
}

.colLink > a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin-left: 1%;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    
}

.right {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-45deg);}

.col-md-4:hover{
    cursor: pointer;
}

.col-md-4:hover .colLink > a {
    color: red;
}

.col-md-4:hover .colLink > i {
    border: solid red;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-45deg);
} 

/*main*/


/*footer*/

footer {
    width: 100%;
    height: auto;

}

.ml-2 {
    padding-bottom: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

.rowFooter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerWrapper{
    width: 100%;
    height: auto;
    position: absolute;
}

.logo_language {
    display: flex;
    flex-direction: column;
}

.logoFooter {
    width: 60%;
    height: auto;
}

.languageWrapper {
    position: relative;
    width: 65%;
    height: auto;
}

.languageWrapper input {
    color: white;
    position: absolute;
    width: 75%;
    height: auto;
    background-color: black;
    outline: none;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid white;
    padding: 4%;

}

.languageWrapper .options {
    position: absolute;
    margin-top: 20%;
    overflow: hidden;
    width: 75%;
    display: none;
    border: 1px solid white;
    padding-left: 4%;
    background-color: #000000;
    
   
}

.languageWrapper.active .options {
    display: block;
    
}

.languageWrapper .options div{
    width: 100%;
    cursor: pointer;
}

.languageWrapper .options div:hover{
    color: red; 
    background-color: rgba(78, 76, 76, 0);
}

.languageWrapper::before {
    content: '';
    position: absolute;
    z-index: 10000;
    right: 32%;
    top: 12px;
    cursor: pointer;
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(45deg);
    transition: 0.3s;
}

.languageWrapper.active::before {
    transform: rotate(225deg);
}

label {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: large;
}

.info, .explanations {
    color: rgb(151, 154, 151);
    font-size: small;
}

.lowerFooter {
    height: 100%;
    margin-top: 1%;
    border-top: 1px solid rgb(151, 154, 151);
    font-size: small;
}

.lowerFooterText {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.leftSide {
    width: 25%;
}

.rightSide {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-size: x-small;
    gap: 2%;

}

.rightSide > p {
    font-weight: bold;
    padding-left: 1%;
}

.rightSide > p:hover {
    color: red;
    cursor: pointer;
}



/*footer*/

/*media-queries*/



@media only screen and (max-width: 1360px){
    .leftSide {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px){
    .logoFooter{
        width: 90%;
    }
    
    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 2000px;
    }
    .languageWrapper {
        margin-bottom: 5%;
        width: 40%;
    }
    .logoFooter {
        width: 40%;
    }
}

@media only screen and (max-width: 1130px)

{
    .rightSide {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .logoFooter {
        width: 70%;
    }
    .languageWrapper {
        width: 50%;
    }
    .logoFooter {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    .quote {
        padding-top: 3%;
        width: 70%;
    }

    label {
        margin-top: 5%;
    }

    .languageWrapper {
        margin-bottom: 5%;
        width: 50%;
    }
    .logoFooter {
        width: 50%;
    }

}

@media only screen and (max-width: 960px){
    .leftSide {
        width: 50%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1450px;
    }
    .logoFooter {
        width: 70%;
    }
}
@media only screen and (max-width: 900px) {
    .lowerFooterText {
        display: block;
    }
    
    .rightSide {
        width: 100%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1400px;
    }
}  
@media only screen and (max-width: 830px) {
    .lowerFooterText {
        display: block;
    }
    
    .rightSide {
        width: 100%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1300px;
    }
    .logoFooter {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .menuWrapper{
        cursor: pointer;
    }
    
    .dropdownWrapper { 
        display: none   ;
        margin-top: 30%;
        padding-right: 3%;
        text-align: right;
        z-index: 2;
    }

    .dropdownMenu {
        line-height: 5vh;
    }
    .menuWrapper::before{
        position: absolute;
        content: '';
        cursor: pointer;
        border: solid rgb(255, 255, 255);
        border-width: 0 10px 10px 0;
        top: 20%;
        display: inline-block;
        right: 5%;
        -webkit-transform: rotate(45deg);
        transition: 0.3s;
        z-index: 10000;
    }

    .navbar > ul > div > div > li:hover > .subMenu{
        display: block;
        width: 80%;
       
    }
       
    .navbar ul li:hover {
        color: red;
        cursor: pointer;
    }
    
    .menuWrapper.active .dropdownWrapper {
        display: block;
    }

    .quote {
        width: 85%;
    }

    label {
        margin-top: 5%;
    }
    
    .logo_language {
        margin-bottom: 12%;
    }

    .languageWrapper {
        width: 100%;
        margin-bottom: 15%;
    }

    .rowFooter {
        width: 850px;
    }
    .logoFooter {
        width: 80%;
    }

}


/*media-queries*/