@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto/Roboto-Thin.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 100%;
}

.headerWrapper {
    width: 100%;
    height: 80px;
}

.logo {
    padding-left: 5%;
    margin-top: 12px;
}

.navbar>ul>li>h2>a {
    color: white;
    text-decoration: none;
    font-weight: normal
}

.menuWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;

}

.linksWrapper {
    padding-right: 20%;
    text-align: center;
    height: 100%;
    display: flex;
    gap: 20%;
    height: 4vh;
    font-size: 4vh;
    line-height: 8vh;
}

.navbarNav {
    width: 100%;
    display: flex;
}

.navbar ul li:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

.dropdownMenu {
    font-weight: bold;
    font-size: x-large;
    padding-left: 20px;

}

.navbar>ul>div>div>li>a:hover {
    color: red;
}

.navbar>ul>div>div>li>a {
    color: white;
    text-decoration: none;
    font-weight: normal;

}

/*header*/




/*main*/

main {
    padding: 5% 7% 5% 7%;
}

form {
    background-color: rgba(191, 186, 186, 0.475);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    box-shadow:
        inset 1.7px 3.2px 1.4px -14px rgba(0, 0, 0, 0.265),
        inset 3.9px 7.2px 3.1px -14px rgba(0, 0, 0, 0.344),
        inset 6.7px 12.3px 5.3px -14px rgba(0, 0, 0, 0.393),
        inset 10.3px 19px 8.2px -14px rgba(0, 0, 0, 0.426),
        inset 15.2px 28.1px 12.2px -14px rgba(0, 0, 0, 0.449),
        inset 22.3px 41.3px 17.9px -14px rgba(0, 0, 0, 0.465),
        inset 33.5px 61.9px 26.8px -14px rgba(0, 0, 0, 0.476),
        inset 53.4px 98.7px 42.7px -14px rgba(0, 0, 0, 0.484),
        inset 100px 185px 80px -14px rgba(0, 0, 0, 0.5),
        inset -1.7px -3.2px 1.4px -14px rgba(0, 0, 0, 0.265),
        inset -3.9px -7.2px 3.1px -14px rgba(0, 0, 0, 0.344),
        inset -6.7px -12.3px 5.3px -14px rgba(0, 0, 0, 0.393),
        inset -10.3px -19px 8.2px -14px rgba(0, 0, 0, 0.426),
        inset -15.2px -28.1px 12.2px -14px rgba(0, 0, 0, 0.449),
        inset -22.3px -41.3px 17.9px -14px rgba(0, 0, 0, 0.465),
        inset -33.5px -61.9px 26.8px -14px rgba(0, 0, 0, 0.476),
        inset -53.4px -98.7px 42.7px -14px rgba(0, 0, 0, 0.484),
        inset -100px -185px 80px -14px rgba(0, 0, 0, 0.5);

}

section {
    width: 100%;
    padding-top: 2%;
    height: auto;
    min-width: 300px;
}

#submitForm {
    margin-top: 10%;
    margin-left: 43%;
    margin-bottom: 5%;
    padding: 2%;
}


/*main*/


/*footer*/

footer {
    width: 100%;
    height: auto;
}

.ml-2 {
    padding-bottom: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

.rowFooter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerWrapper {
    width: 100%;
    height: auto;
    position: absolute;
}

.logo_language {
    display: flex;
    flex-direction: column;
}

.logoFooter {
    width: 60%;
    height: auto;
}

.languageWrapper {
    position: relative;
    width: 65%;
    height: auto;
}

.languageWrapper input {
    color: white;
    position: absolute;
    width: 75%;
    height: auto;
    background-color: black;
    outline: none;
    top: 0;
    left: 0;
    cursor: pointer;
    border: 1px solid white;
    padding: 4%;

}

.languageWrapper .options {
    position: absolute;
    margin-top: 20%;
    overflow: hidden;
    width: 75%;
    display: none;
    border: 1px solid white;
    padding-left: 4%;
    background-color: #000000;


}

.languageWrapper.active .options {
    display: block;

}

.languageWrapper .options div {
    width: 100%;
    cursor: pointer;
}

.languageWrapper .options div:hover {
    color: red;
    background-color: rgba(78, 76, 76, 0);
}

.languageWrapper::before {
    content: '';
    position: absolute;
    z-index: 10000;
    right: 32%;
    top: 12px;
    cursor: pointer;
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(45deg);
    transition: 0.3s;
}

.languageWrapper.active::before {
    transform: rotate(225deg);
}

label {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: large;
}

.info,
.explanations {
    color: rgb(151, 154, 151);
    font-size: small;
}

.lowerFooter {
    height: 100%;
    margin-top: 1%;
    border-top: 1px solid rgb(151, 154, 151);
    font-size: small;
}

.lowerFooterText {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.leftSide {
    width: 25%;
}

.rightSide {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    font-size: x-small;
    gap: 2%;

}

.rightSide>p {
    font-weight: bold;
    padding-left: 1%;
}

.rightSide>p:hover {
    color: red;
    cursor: pointer;
}



/*footer*/

@media only screen and (max-width: 1360px) {
    .leftSide {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px) {
    .logoFooter {
        width: 90%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 2000px;
    }

    .languageWrapper {
        margin-bottom: 5%;
        width: 40%;
    }

    .logoFooter {
        width: 40%;
    }
}

@media only screen and (max-width: 1130px) {
    .rightSide {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .logoFooter {
        width: 70%;
    }

    .languageWrapper {
        width: 50%;
    }

    .logoFooter {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    .quote {
        padding-top: 3%;
        width: 70%;
    }

    label {
        margin-top: 5%;
    }

    .languageWrapper {
        margin-bottom: 5%;
        width: 50%;
    }

    .logoFooter {
        width: 50%;
    }

}

@media only screen and (max-width: 960px) {
    .leftSide {
        width: 50%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1450px;
    }

    .logoFooter {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .lowerFooterText {
        display: block;
    }

    .rightSide {
        width: 100%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1400px;
    }
}

@media only screen and (max-width: 830px) {
    .lowerFooterText {
        display: block;
    }

    .rightSide {
        width: 100%;
    }

    .rowFooter {
        display: flex;
        flex-direction: column;
        width: 1300px;
    }

    .logoFooter {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    .menuWrapper {
        cursor: pointer;
    }

    .linksWrapper {
        font-size: larger;
        display: none;
        margin-top: 3%;
        padding-right: 3%;
        text-align: right;
        z-index: 2;
    }


    .menuWrapper::before {
        position: absolute;
        content: '';
        cursor: pointer;
        border: solid rgb(255, 255, 255);
        border-width: 0 10px 10px 0;
        top: 15%;
        display: inline-block;
        right: 5%;
        -webkit-transform: rotate(45deg);
        transition: 0.3s;
        z-index: 10000;
    }

    .navbar ul li:hover {
        color: red;
        cursor: pointer;
    }

    .menuWrapper.active .linksWrapper {
        display: block;
    }

    label {
        margin-top: 5%;
    }

    .logo_language {
        margin-bottom: 12%;
    }

    .languageWrapper {
        width: 100%;
        margin-bottom: 15%;
    }

    .rowFooter {
        width: 850px;
    }

    .logoFooter {
        width: 80%;
    }

}


/*media-queries*/